<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/custom.form.css}">
    <style id="layuimini-bg-color">
    </style>
<body>
<div class="panel panel-default operation" hidden>
    <div class="panel-heading title"></div>
    <div class="layui-card-body">
        <form class="layui-form " action="" lay-filter="info">
            <input name="id" hidden/>
            <div class="layui-form-item">
                <label class="layui-form-label">请输入服务器：</label>
                <div class="layui-input-block">
                    <input type="name1" name="name1" placeholder="请输入服务器" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">请输入名称：</label>
                <div class="layui-input-block">
                    <input type="name2" name="name2" placeholder="请输入名称" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">请输入错误信息：</label>
                <div class="layui-input-block">
                    <input type="name3" name="name3" placeholder="请输入错误信息" autocomplete="off"
                           class="layui-input disabled">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">请上传txt文本</label>
                <div class="layui-input-block">
                    <input name="txtPath" type="hidden"/>
                    <button type="button" class="layui-btn" id="txtPath">
                        <i class="layui-icon">&#xe67c;</i>请上传txt文本
                    </button>

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">请上传图片</label>
                <div class="layui-input-block">
                    <input name="filePath" type="hidden"/>
                    <button type="button" class="layui-btn" id="filePath">
                        <i class="layui-icon">&#xe67c;</i>请上传图片
                    </button>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">请选择类型：</label>
                <div class="layui-input-block">
                    <select name="type" class="layui-input disabled" autocomplete="off">
                        <option value="0" selected>解禁</option>
                        <option value="1">禁封</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
                    <button class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table_div">
    <div id="searchParam">
        <form class="layui-form ">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="text" id="ip" class="layui-input" autocomplete="off" placeholder="请输入IP">
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="name1" class="layui-input" autocomplete="off" placeholder="请输入服务器">
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="name2" class="layui-input" autocomplete="off" placeholder="请输入名称">
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="name3" class="layui-input" autocomplete="off" th:value="${name3}"
                           placeholder="请输入错误信息">
                </div>
                <div class="layui-input-inline ">
                    <button class="layui-btn" id="search" type="button">查询</button>
                </div>
            </div>


        </form>
    </div>
    <table class="layui-table" id="showTable" lay-filter="showTable"></table>
</div>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container oper">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        <button class="layui-btn layui-btn-sm" lay-event="batchDeleted">删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="jiefeng">解封</button>
        <button class="layui-btn layui-btn-sm" lay-event="jinfeng">禁封</button>
        <button class="layui-btn layui-btn-sm" lay-event="back" id="back">返回</button>
    </div>
</script>
<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

</body>
<style>
    .layui-form-label {
        width: 120px;
    }
</style>
</html>
<script th:inline="javascript" type="text/javascript">
    var ctx = '[[@{/}]]'.replaceAll("\"", "").replace('//', '/');
</script>
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/js/core.util.js}"></script>
<script>
    //获取token
    var token = CoreUtil.getData("access_token");
    //地址栏转义token中的#号
    var tokenQuery = token.replace("#", "%23");
    var tableIns1;
    var table = layui.table;
    var form = layui.form;
    var layer = layui.layer;
    var $ = jQuery = layui.jquery;
    var laydate = layui.laydate;
    var upload = layui.upload;
    var txtPath = null;
    var filePath = null;
    layui.use(['table', 'layer', 'laydate', 'upload'], function () {

        //加载table
        tableIns1 = table.render({
            elem: '#showTable'
            , contentType: 'application/json'
            , headers: {"authorization": token}
            , page: true //开启分页
            , url: ctx + 'fileinfo/listByPage' //数据接口
            , method: 'POST'
            , where: { //设定异步数据接口的额外参数，任意设
                name3: $('#name3').val(),
            }
            , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
                    "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'},
                    // {width: 100, field: 'id', title: '序号', sort: true},
                    {width: 150, field: 'ip', title: 'IP', sort: true},
                    {width: 150, field: 'name1', title: '服务器', sort: true},
                    {field: 'name2', title: '名称', sort: true},
                    {field: 'name3', title: '错误信息', sort: true},

                    {width: 180, field: 'createTime', title: '创建时间', sort: true},
                    {
                        width: 80, field: 'type', title: '状态', sort: true, templet: function (item) {
                            //获取类型对应的字典label
                            if (item.type == 0)
                                return "<span style='color: red'>解封</span>"
                            if (item.type == 1)
                                return "<span style='color: red'>禁封</span>"
                        }
                    },

                    {
                        width: 100, field: 'txtPath', title: '文本路径', sort: true, templet: function (item) {
                            return "<a style='color: #0000FF' href='" + item.txtPath + "' onclick='change(this)' target='_blank'>文本</a>";
                        }
                    },
                    {
                        width: 100, field: 'filePath', title: '图片路径', sort: true, templet: function (item) {
                            return "<a style='color: #0000FF' href='" + item.filePath + "' target='_blank'>图片</a>";
                        }
                    },

                    {width: 120, toolbar: "#tool", title: '操作'}
                ]
            ]
            , toolbar: '#toolbar'
        });

        //执行实例
        var uploadTxtPathInst = upload.render({
            elem: '#txtPath' //绑定元素
            , url: ctx + 'sysFiles/upload?authorization=' + tokenQuery //上传接口
            , done: function (res) {
                txtPath = res.data.src
                $('input[name="txtPath"]').val(txtPath)
                layer.msg("文本上传成功！")
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });

        var uploadfilePathInst = upload.render({
            elem: '#filePath' //绑定元素
            , url: ctx + 'sysFiles/upload?authorization=' + tokenQuery //上传接口
            , done: function (res) {
                filePath = res.data.src
                $('input[name="filePath"]').val(filePath)
                layer.msg("图片上传成功！")
                //上传完毕回调
            }
            , error: function () {
                //请求异常回调
            }
        });

        //表头工具
        table.on('toolbar(showTable)', function (obj) {
            switch (obj.event) {
                case 'batchDeleted':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    if (data.length == 0) {
                        layer.msg("请选择要批量删除的列");
                    } else {
                        var ids = [];
                        $(data).each(function (index, item) {
                            ids.push(item.id);
                        });
                        tipDialog(ids);
                    }
                    break;
                case 'jiefeng':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;

                    var ids = [];
                    $(data).each(function (index, item) {
                        ids.push(item.id);
                    });
                    operate(ids, 0);
                    break;
                case 'jinfeng':
                    var checkStatus = table.checkStatus(obj.config.id);
                    var data = checkStatus.data;
                    var ids = [];
                    $(data).each(function (index, item) {
                        ids.push(item.id);
                    });
                    operate(ids, 1);
                    break;
                case 'add':
                    toUnDisabled();
                    $(".table_div").hide();
                    $(".operation").show();
                    $(".title").html("新增");
                    setTimeout(function () {
                        form.val('info', {
                            "test": "test"
                            , "id": ""
                            , "ip": ""
                            , "name1": ""
                            , "name2": ""
                            , "name3": ""
                            , "txtPath": ""
                            , "filePath": ""
                            , "type": ""
                        });
                    }, 200);
                    break;
            }
            ;
        });
        //列操作
        table.on('tool(showTable)', function (obj) {
            var data = obj.data;
            console.log(data)
            switch (obj.event) {
                case 'del':
                    var ids = [];
                    ids.push(data.id);
                    tipDialog(ids);
                    break;

                case 'edit':
                    backshow(data);
                    $(".title").html("编辑");
                    toUnDisabled();
                    break;
                case 'back':
                    history.go(-1);
                    break;
            }
        });


        //导出
        $('#export').on('click', function () {
            //原先分页limit
            var exportParams = {
                limit: 10000,
                key: $("#key").val()
            };
            CoreUtil.sendPost(ctx + "fileinfo/listByPage", exportParams, function (res) {
                //初始化渲染数据
                if (res.data != null && res.data.records != null) {
                    table.exportFile(tableIns1.config.id, res.data.records, 'xls');
                }
            });
        });

        $('#back').on('click', function () {
            history.go(-1)
        });

        $('#search').on('click', function () {
            search();
        });

        var operate = function (ids, type) {
            if (ids.length == 0) {
                layer.msg("未选择解封对象!");
                return false;
            }
            CoreUtil.sendGet(ctx + "jiejinfengflieinfos.action", {'ids': ids.join(","), 'type': type}, function (res) {
                layer.msg(res.msg, {time: 1000}, function () {
                    search();
                });
            });
        }
		
		var change = function (obj) {
            $(obj).css("color",'red');
        }

        var backshow = function (data) {
            $(".table_div").hide();
            $(".operation").show();
            $(".title").html("修改");
            console.log(data)
            debugger
            setTimeout(function () {
                form.val('info', {
                    "test": "test"
                    , "id": data.id
                    , "name1": data.name1
                    , "name2": data.name2
                    , "name3": data.name3
                    , "txtPath": data.txtPath
                    , "filePath": data.filePath
                    , "type": data.type
                });
            }, 200);
        }

        var toUnDisabled = function () {
            $(".oper").show();
            $(".disabled").each(function (index, elem) {
                $(elem).removeAttr("disabled", "")
            })
        }

        var search = function () {
            tableIns1.reload({
                where: { //设定异步数据接口的额外参数，任意设
                    ip: $("#ip").val(),
                    name1: $("#name1").val(),
                    name2: $("#name2").val(),
                    name3: $("#name3").val(),
                }
                , page: {
                    curr: 1, //重新从第 1 页开始
                    limit: 20
                }
            });
        }

        //删除
        var tipDialog = function (ids) {
            layer.open({
                content: "确定要删除么?",
                yes: function (index, layero) {
                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                    CoreUtil.sendDelete(ctx + "fileinfo/delete", ids, function (res) {
                        layer.msg(res.msg, {time: 1000}, function () {
                            search();
                        });
                    });
                }
            });
        };

        //返回
        $("#btn_cancel").click(function () {
            $(".table_div").show();
            $(".operation").hide();
            return false;
        });

        //监听保存
        form.on('submit(submit)', function (data) {
            if (data.field.id === undefined || data.field.id === null || data.field.id === "") {
                console.log(data.field)
                if (data.field.name1 == undefined || data.field.name1 == '') {
                    layer.msg("请输入服务器!");
                    return false;
                }
                if (data.field.name2 == undefined || data.field.name2 == '') {
                    layer.msg("请输入名称!");
                    return false;
                }
                if (data.field.name3 == undefined || data.field.name3 == '') {
                    layer.msg("请输入错误信息!");
                    return false;
                }
                if (data.field.txtPath == undefined || data.field.txtPath == '') {
                    layer.msg("请上传文本附件!");
                    return false;
                }
                if (data.field.filePath == undefined || data.field.filePath == '') {
                    layer.msg("请上传图片附件!");
                    return false;
                }
                CoreUtil.sendPost(ctx + "fileinfo/add", data.field, function (res) {
                    $(".table_div").show();
                    $(".operation").hide();
                    search();
                });
            } else {
                CoreUtil.sendPut(ctx + "fileinfo/update", data.field, function (res) {
                    $(".table_div").show();
                    $(".operation").hide();
                    search();
                });
            }

            return false;
        });
    });

    //禁用输入
    function toDisabled() {
        $(".oper").hide();
        $(".disabled").each(function (index, elem) {
            $(elem).attr("disabled", "")
        })
    }

    //放开输入
    function toUnDisabled() {
        $(".oper").show();
        $(".disabled").each(function (index, elem) {
            $(elem).removeAttr("disabled", "")
        })
    }
</script>